* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1;
    background-color: #ffffff;
  } 
  /**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ffffff;

  /* Because we want header to be sticky later */
  height: 9rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.5rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color:#848484;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color:#429441;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #429441;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #429441;
}
/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color:#fff;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/**************************/
/* HERO SECTION */
/**************************/
h1 {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: 33px;
  line-height: 1.1;
  letter-spacing: -1px;
}
img {
  width: 100%;
  border-radius: 2%;
}
.section-hero {
  background-color:#e8fadd;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 9.4rem;
  align-items: center;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 4.8rem;

}
.heading-primary{
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.hero-img {
  width: 100%;
}
.hero-text-box h1{
  color:#58a057;
}
/**************************/
/* Facts SECTION */
/**************************/

.section-facts { 
  padding: 6rem 0;
}
.container_facts{
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.facts_center-text{
  text-align: center;
}
.facts_subheading{
  display: block;
  font-size: 2rem;
  font-weight: 800;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  letter-spacing: 0.75px;
}
.facts_heading-secondary{
  font-weight: 600;
  color: #58a057;
  letter-spacing: -0.5px;
  font-size: 3.2rem;
  line-height: 1.1;
  margin-bottom: 6rem;
}

/**************************/
/* slider SECTION */
/**************************/
.slider_container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 600ms ease-in;
}
.panel h3 {
  font-size: 18px;
  position: absolute;
  top:90px;
  left: 15px;
  right: 10px;
  margin: 0;
  opacity: 0;
  color:rgb(43, 35, 35);
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
/**************************/
/* Quiz  SECTION */
/**************************/
.section-quiz{
  background-color:#e8fadd;
  padding: 7rem 0;
}
.quiz_subheading{
  display: block;
  font-size: 2.3rem;
  font-weight: 800;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color:#429441;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

/**************************/
/* Engage SECTION */
/**************************/
.wcu-section {
    background-color: #ffffff;
}
.ngo_links{
  line-height: 22px;
  font-size: 16px;
  text-decoration: none;
}
.ngo_link{
  text-decoration: none;
}
.city{
  margin-bottom: 20px;
}

.wcu-section-heading {
  font-size: 2.3rem;
  font-weight: 800;
  color: #cf711f;
}

.wcu-section-description {
  font-weight: 600;
  color: #58a057;
  letter-spacing: -0.5px;
  font-size: 3.2rem;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.wcu-card {
    text-align: center;
    background-color: #b8dba4;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-title {
    color: #323f4b;
    font-size: 22px;
    font-weight: 600;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
    
}
/**************************/
/* Event SECTION */
/**************************/
.event-section {
  background-color: #e8fadd;
}
/**************************/
/* feedback Panel SECTION */
/**************************/
.feedback{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  overflow: hidden;
  margin: 0;
}
.feedback_heading-secondary{
  font-weight: 600;
  color: #58a057;
  letter-spacing: -0.5px;
  font-size: 3.2rem;
  line-height: 1.1;
  margin-bottom: 4rem;
}
.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
}

.panel-container strong {
  font-size: 2rem;
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating h6{
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover h6,
.rating.active {
  color: #111;
}

.btn {
  background-color:#b8dba4;
  color:#58a057;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
