* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1;
    background-color: #ffffff;
  } 
  /**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ffffff;

  /* Because we want header to be sticky later */
  height: 9.2rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.5rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color:#848484;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color:#429441;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #429441;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #429441;
}

/**************************/
/* HERO SECTION */
/**************************/
h1 {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: 42px;
  line-height: 1.1;
  letter-spacing: -1px;
}
img {
  width: 100%;
  border-radius: 2%;
}
.section-hero {
  background-color:#f1f0ec;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
.hero-text-box h1{
  color:#58a057;
}
/**************************/
/* Facts SECTION */
/**************************/

.section-facts {
  padding: 9.6rem 0;
}
.container_facts{
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.facts_center-text{
  text-align: center;
}
.facts_subheading{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.facts_heading-secondary{
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

/**************************/
/* slider SECTION */
/**************************/
.slider_container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 600ms ease-in;
}
.panel h3 {
  font-size: 24px;
  position: absolute;
  top:80px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color:black;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
/* About us page */
.bolder-txt {
  font-size: 45px;
  font-weight: 800;
  color: #f5a30b;
}

/**************************/
/* Quiz  SECTION */
/**************************/
.section-quiz{
  padding: 9.6rem 0;
}
.quiz_container{
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;

}
.quiz_subheading{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.quiz_heading-secondary{
  font-weight: 800;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4rem;
  line-height: 1.5;
  margin-bottom: 9.6rem;
}
.quiz_heading-tertiary{
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
